html{
    font-size: 80%;
    font-family: Arial, sans-serif;
}

/* Fondo difuminado */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dce7f1; 
    background-size: cover;
    z-index: -1; 
}


    
.contenido {
    margin-left:  45px;
    width: 95%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.main-section {
    min-height: 62vh; /* Se asegura de que la sección ocupe al menos el 100% de la altura de la pantalla */
    padding: 20px 20px 2%;
}

.title{
    position: relative;
    margin-left: 26%;
    top: 10px;

}
.title h1{
    font-size: 25px;
    font-weight: bold;
    color:rgb(1, 61, 90)
}

.exo-2-uniquifier{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
}

.registerProd{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-size: 25px;
    color:#0e6990;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.con{
    padding-top: 2%;
    padding-bottom: 3%;
}

.table-container tbody tr{
    border-bottom: 2px solid  #e1e1e1;
}
.table-container {
    border-bottom: 5px solid #0e6990;
}

.table-container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px 15px;
    background-color: #f2eded;
    width: 80%;
    margin: 20px auto;
    max-height: 50vh; /* Ajusta según el padding/margen */
    overflow-y: auto; /* Barra de desplazamiento vertical si hay más contenido */
}   
thead th {
    position: sticky;
    top: 0;
    z-index: 1;  /* Asegura que el encabezado quede por encima de las filas */
}
table {
    width: 100%;
    border-collapse: collapse; /* Elimina el espacio entre bordes */
}

th, td {
    padding: 15px;
    text-align: left; /* Alineación del texto */
}

th {
    background-color: #0e6990; /* Color de fondo para el encabezado */
    color: white; /* Color del texto del encabezado */
}

td {
    max-width: 150px;
    white-space: normal;
    word-wrap: break-word;
}

tr:hover {
    background-color: #f5f5f5; /* Color de fondo al pasar el ratón */
    cursor: pointer;
}

